name: second workflow
on: [push, workflow_dispatch]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Go Setup
              uses: actions/setup-go@v4
              with:
                  go-version: 1.23
            - name: Build
              run: go build -v ./...

            - name: Test
              run: go test -v ./...